/* https://css-tricks.com/bem-101/ */
.app__background--color {
	background: rgb(77,80,98);
	background: radial-gradient(circle, rgba(77,80,98,1) 0%, rgba(55,55,55,1) 58%, rgba(27,27,27,1) 100%); 
}

.app__background--size {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
}

.app__main-window {
	display: grid;
	grid-template-columns: 14% auto;
	grid-template-rows: 5% auto;

	margin: auto auto;
	width: 85%;
	height: 95%;

}

.app__chatbox {
	background-color: white;
}

.app__main-window-header {
	background-color: orange;
}

.link {
	color: inherit; /*no anchor special color*/
	text-decoration: none; /*no underline*/
}

