/* Import "EB Garamond" from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

/* Variabili globali */
:root {
	--font-family-base: "EB Garmond", sans-serif;
	--color-dark-gray: rgba(40,40,40,1);
}

/* stile globale: rimuovi padding e margine */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
