.app__chatbox {
	display: flex;
	flex-direction: column;
}

.app__chatbox > form {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3d3901; 
	flex: 1;
}

.app__chatbox [name="message"] {
	height: 80%;
	width: 70%;
	resize: none;
}

.app__chatbox [name="message"]::placeholder {
	color: #fdca00;
	font-family: var(--font-family-base);
	font-size: 14px;
}

.app__chatbox input[name="send"] {
	border-radius: 100%;
	height: 15%;
}

.chat__messageContainer {
	display: flex;
	flex-direction: column;
	background-image: url("../../assets/sfondoChat.png");
	height: 90%;
}

