.chat__message {
	width: min(55%, min-content);
	margin-top: 20px;
	background-color: #fffed5;
	font-family: var(--font-family-base);
	font-size: 14px;
	color: black;
	border-radius: 3px;
	overflow-wrap: break-word;
	inline-size: 60%;
}
