.app__login-left-box, .app__login-right-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.app__login-center-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* if child is absolute parent needs to be relative, not static */
}

.or {
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  z-index: 9;
  font-weight: bold;
}

.line {
  width: 0.5px;
  height: 80%;
  background-color: lightgray;
  position: absolute;
}

.app__login-button {
  width: 60%;
  padding: 25px 40px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 40px;
  cursor: pointer;
}

.google {
  background-color: #df4930;
}

.facebook {
  background-color: #507cc0;
}

.github {
  background-color: black;
}

.app__login-right-box > input {
  width: 60%;
  padding: 15px 20px;
  margin-bottom: 40px;
  font-size: 18px;
}

input.submit {
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-family: var(--font-family-base);
}

.app__login-title {
  grid-column-end: span 3;
  top: 18vh; /*overrides align-items: center of its parent*/
  color: lightgray;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.app__register_button--color {
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  font-family: var(--font-family-base);
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  width: 60%;
  padding: 15px 20px;
  margin-bottom: 40px;
  font-size: 18px;
  cursor: pointer;
}
