.app__sidebar-header {
	display: flex;
	width: 100%;
	height: 5%;
	background-color: red;
	align-items: center;
	font-family: var(--font-family-base);
	color: white;
	font-weight: bold;
}

.app__sidebar-header-login {
	margin: auto 16%; 
	text-decoration: none;
	color: inherit;
	font-size: 18px;
	cursor: pointer;
}

.app__sidebar-header-prifile-wrapper {
	--size: 100%;
	height: var(--size);
	display: flex;
	align-items: center;
	margin-left: 7%;
	cursor: pointer;
}

.app__sidebar-header-profile-icon--size {
	height: 80%;
	margin-right: 0.5em;
}

.app__sidebar-header-profile-icon--size ~ * {
	font-size: var(--size); 
}
