.contact {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    background-color: rgb(120,120,120);
    cursor: pointer;
}
 
.contact__image {
    height: 80%;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: none;
}
 
.contact__name {
    font-size: 24px;
    font-weight: bold;
	font-family: var(--font-family-base);
	color: white;
}
